<a href="https://colab.research.google.com/github/ashish25ece/Hackathon/blob/master/Predict_Book_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# To Predict the Price of the Book

In [0]:
# Importing Libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [0]:
# Mounting Google Drive into Colab 

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# reading excel files from drive into colab

train_path = "/content/drive/My Drive/Book Dataset/Book_Train.xlsx"
test_path = "/content/drive/My Drive/Book Dataset/Book_Test.xlsx"
df_train = pd.read_excel(train_path)
df_test = pd.read_excel(test_path)

In [0]:
df_train.tail()

,Title,Author,Edition,Ratings,Reviews,Synopsis,Genre,BookCategory,Price
6232,Humans: A Brief History of How We F*cked It Al...,Tom Phillips,"Paperback,– 8 Aug 2018",5.0 out of 5 stars,2 customer reviews,'F*cking brilliant' Sarah Knight\n'Very funny'...,Anthropology (Books),Humour,322.0
6233,The Chemist,Stephenie Meyer,"Paperback,– 21 Nov 2016",3.3 out of 5 stars,9 customer reviews,"In this gripping page-turner, an ex-agent on t...",Contemporary Fiction (Books),"Crime, Thriller & Mystery",421.0
6234,The Duke And I: Number 1 in series (Bridgerton...,Julia Quinn,"Paperback,– 8 Jun 2006",3.8 out of 5 stars,3 customer reviews,'The most refreshing and radiant love story yo...,Romance (Books),Romance,399.0
6235,Frostfire (Kanin Chronicles),Amanda Hocking,"Paperback,– 15 Jan 2015",3.5 out of 5 stars,4 customer reviews,Frostfire by Amanda Hocking is the stunning fi...,Action & Adventure (Books),Action & Adventure,319.0
6236,The First Order (Sam Capra),Jeff Abbott,"Paperback,– 21 Dec 2016",3.9 out of 5 stars,2 customer reviews,"Six years ago, Sam Capra watched his brother, ...",Action & Adventure (Books),Action & Adventure,452.0

In [0]:
print ('The shape of the train dataset (%d,%d)' %(df_train.shape))
print ('The shape of the test dataset (%d,%d)' %(df_test.shape))

The shape of the train dataset (6237,9)
The shape of the test dataset (1560,8)

In [0]:
# appending both the train and test data set

df= df_train.append(df_test)

In [0]:
# Printing the head of the dataset

df.head()

,Author,BookCategory,Edition,Genre,Price,Ratings,Reviews,Synopsis,Title
0,Chris Kuzneski,Action & Adventure,"Paperback,– 10 Mar 2016",Action & Adventure (Books),220.00,4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,The Prisoner's Gold (The Hunters 3)
1,Arun Khopkar,"Biographies, Diaries & True Accounts","Paperback,– 7 Nov 2012",Cinema & Broadcast (Books),202.93,3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Guru Dutt: A Tragedy in Three Acts
2,Thomas Hobbes,Humour,"Paperback,– 25 Feb 1982",International Relations,299.00,4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",Leviathan (Penguin Classics)
3,Agatha Christie,"Crime, Thriller & Mystery","Paperback,– 5 Oct 2017",Contemporary Fiction (Books),180.00,4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,A Pocket Full of Rye (Miss Marple)
4,Editors of Life,"Arts, Film & Photography","Hardcover,– 10 Oct 2006",Photography Textbooks,965.62,5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",LIFE 70 Years of Extraordinary Photography

In [0]:
#check the info of the data dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7797 entries, 0 to 1559
Data columns (total 9 columns):
Author          7797 non-null object
BookCategory    7797 non-null object
Edition         7797 non-null object
Genre           7797 non-null object
Price           6237 non-null float64
Ratings         7797 non-null object
Reviews         7797 non-null object
Synopsis        7797 non-null object
Title           7797 non-null object
dtypes: float64(1), object(8)
memory usage: 609.1+ KB

In [0]:
# checking the null values

df.isnull().sum()

Author             0
BookCategory       0
Edition            0
Genre              0
Price           1560
Ratings            0
Reviews            0
Synopsis           0
Title              0
dtype: int64

*As we can see, there are no missing values in the dataset except in the target variable which is the part of the test data set and not the train data set so no treatment is needed.*

# **Feature Preprocessing and Feature Engineering**

In [0]:
# Splitting the numerical value from the Review feature

df['Reviews']=df['Reviews'].str.split().str[0]
df['Reviews']=df['Reviews'].replace(',','',regex=True)
df['Reviews']=df['Reviews'].astype(int)

In [0]:
# Splitting the numerical value from the Ratings feature

df['Ratings']=df['Ratings'].str.split().str[0].astype(float)

In [0]:
# Splitting the values of Genre feature into new features

a=df['Genre'].str.split('(')
b=a.str[0].str.split('&')
c=b.str[0].str.split(',')

df['Genre_1']=c.str[0]
df['Genre_2']=c.str[1]
df['Genre_3']=b.str[1]

df['Genre_1'].fillna("unknown",inplace = True)
df['Genre_2'].fillna("unknown",inplace = True)
df['Genre_3'].fillna("unknown",inplace = True)

In [0]:
# Splitting the values of Edition feature into Printed and Publishing date features

a=df['Edition'].str.split(",–")
df['Printed']=a.str[0]

In [0]:
# Splitting the values of Edition feature into new Publishing Month and Year features

c=a.str[1]

def date_sorter():
    # Get the dates in the form of words
    one = c.str.extract(r'((?:\d{,2}\s)?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:-|\.|\s|,)\s?\d{,2}[a-z]*(?:-|,|\s)?\s?\d{2,4})')
    # Get the dates where there is no days i.e only month and year  
    three = c.str.extract(r'(\d{4})')
    #Convert the dates to datatime and by filling the nans in two and three. Replace month name because of spelling mistake in the text file.
    dates = one.fillna(three)
    return dates


d=date_sorter()
df['Date_of_Publishing']=d

df['Date_of_Publishing']=pd.to_datetime(df['Date_of_Publishing'],dayfirst=True)

df['Date_of_Publishing_Month']=df['Date_of_Publishing'].dt.month
df['Date_of_Publishing_Year']=df['Date_of_Publishing'].dt.year

df['Date_of_Publishing_Month'].fillna(0,inplace = True)
df['Date_of_Publishing_Year'].fillna(0,inplace = True)

In [0]:
# Dropping the unnessary columns

df=df.drop(labels=['BookCategory', 'Edition', 'Genre','Date_of_Publishing','Synopsis'],axis=1)

In [0]:
# using the Column Transformer to transform the categorical into numerical feature

from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder

preprocess = ColumnTransformer(
    [('author_category', OneHotEncoder(dtype='int', handle_unknown='ignore'), ['Author']),
     ('Genre_1_new', OneHotEncoder(dtype='int', handle_unknown='ignore'), ['Genre_1']),
     ('Genre_2_new', OneHotEncoder(dtype='int', handle_unknown='ignore'), ['Genre_2']),
     ('Genre_3_new', OneHotEncoder(dtype='int', handle_unknown='ignore'), ['Genre_3']),
     ('Printed_category', OneHotEncoder(dtype='int', handle_unknown='ignore'), ['Printed']),
     ('Title_countvec', CountVectorizer(min_df=10), 'Title')],
    remainder='passthrough')

In [0]:
# taking the log value to normalize the data 

df["Price"] = np.log1p(df["Price"])

In [0]:
# converting the sparse matrix into dataframe

df_new = df.drop(['Price'], axis =1)

df_new1=pd.DataFrame(preprocess.fit_transform(df_new).todense())
df_y = df.drop(['Price'], axis =1)

df_train = df_new1[0:6237]
df_test = df_new1[6237:]

X = df_train
y = df['Price'][0:6237]

In [0]:
# Segregate the data set into train and test set

from sklearn.model_selection import train_test_split, KFold, StratifiedKFold,cross_val_score

train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
from lightgbm import LGBMRegressor 
from sklearn.metrics import mean_squared_error

model = LGBMRegressor(
    boosting_type='gbdt',
    num_leaves=127,
    max_depth=8,
    learning_rate=0.069,
    n_estimators=500,
    subsample_for_bin=200000,
    objective=None,
    class_weight=None,
    min_split_gain=0.0,
    min_child_weight=3,
    min_child_samples=20,
    subsample=0.3,
    subsample_freq=0,
    colsample_bytree=0.3,
    reg_alpha=0.01,
    reg_lambda=0.0,
    random_state=None,
    n_jobs=-1,
    silent=True,
    importance_type='split')

model.fit(train_X,train_y)

y_train_pred = model.predict(train_X)
y_pred = model.predict(test_X)

train_rmse = np.sqrt(mean_squared_error(y_train_pred, train_y))
test_rmse = np.sqrt(mean_squared_error(y_pred, test_y))
print('Train RMSE: %.4f' % train_rmse)
print('Test RMSE: %.4f' % test_rmse)

Train RMSE: 0.4771
Test RMSE: 0.5778